    * {
        font-family: Verdana;
    }

    html {
      height: 100%;
    }

        header {
        background-color: #0e558c;
        color: white;
        text-align: center;
        padding: 5px;
        font-size: 20px;
        display: block;
        width: 790px;
    }

    body {
       width: 800px;
       margin: 0 auto;
       padding-top: 5px;
       height: 100%;
       display: relative;
    }
​    section {
    margin: 0;

}

    nav {

        font-size: 18px;
        float: left;
    }
    nav ul {
        background-color: #dddddd;
        height: 45px;
        width: 800px;
        padding: 0px;
        margin: 0 0 0 0;
        float: left;
        border-bottom: 1px solid #cccccc;
        list-style-type: none;
    }
    nav li {
        float: left;
    }
    nav li a {
        display: block;
        height: 25px;
        //border-right: 1px solid #cccccc;
        padding: 12px 18px 8px 18px;
        vertical-align: middle;
        text-decoration: none;
        text-transform: uppercase;
    }
    a {
        color: black;
    }
    a:hover {
        font-size: 20px;
        color: #0e558c;
    }
    section {
        width: 100%;
        display: inline-block;
        float: left;
        padding:0;
        background-color: #f2efef;
    }
    .welcome {
        width: 800px;
    }
    #logo {
    float: left;
    margin: 0 0 10px 10px;
    padding-right: 50px;
}
    aside {
        width: 17%;
        display: inline-block;
        float: right;
        vertical-align: top;
        background-color: #eeeeee;
        font-size: 18px;
        padding: 8px;
        min-height: 100%;
    }
    aside ul {
        list-style-type: none;
    }
    footer {
        width: 790px;
        background-color:#514f4f;
        color:white;
        text-align:center;
        clear: both;
        padding:5px;
        display: block;
    }
    .inputText {
        width: 50px;
    }

#motto {
    text-align: center;
}

#policypadding {
    padding-bottom: 10px;
}
